<h1>User#show</h1>
<p>Find me in app/views/user/show.html.erb</p>
<%= link_to 'logout' sessions_path %>

<p>You're a new user!</p>
 <p>Welcome <%= @user.name %> !</p>
<%= link_to 'Create Article' users_article_path %>
